<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>Department of Micro, Small &amp; Medium Enterprises</title>
    <link rel="shortcut icon" href="/pages/website/msme_new/app_assets/assets_img/favicon.png"
        type="image/x-icon" />

    <link rel="stylesheet" href="/pages/website/msme_new/app_assets/assets_css/font-awesome.css"
        type="text/css" />
    <link rel="stylesheet" href="/pages/website/msme_new/app_assets/assets_css/bootstrap.min.css"
        type="text/css" />
    <link rel="stylesheet" href="/pages/website/msme_new/app_assets/assets_css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="/pages/website/msme_new/app_assets/fonts/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/pages/website/msme_new/app_assets/assets_css/main_css.css" type="text/css" />
    <link rel="stylesheet" href="/pages/website/msme_new/app_assets/assets_css/materialdesignicons.css"
        type="text/css" />
    <link rel="stylesheet" href="/pages/website/msme_new/app_assets/assets_css/owl.carousel.css"
        type="text/css" />
    <link rel="stylesheet" href="/pages/website/msme_new/app_assets/assets_css/owl.theme.default.css"
        type="text/css" />
    <link rel="stylesheet" href="/pages/website/msme_new/app_assets/assets_css/animate.min.css" type="text/css" />
    <link href="/pages/website/msme_new/app_assets/assets_css/modern-ticker.css" rel="stylesheet" />
    <link href="/pages/website/msme_new/app_assets/assets_css/theme1.css" id="jssDefault" rel="stylesheet" />
    <link rel="alternate stylesheet" type="text/css" media="screen" title="small"
        href="/pages/website/msme_new/app_assets/assets_css/css_small.css" />

    <link rel="alternate stylesheet" type="text/css" media="screen" title="bigger"
        href="/pages/website/msme_new/app_assets/assets_css/css_bigger.css" />
    <script type="text/javascript" src="/pages/website/msme_new/app_assets/assets_js/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js}"></script> -->
    <script type="text/javascript" src="/pages/website/js/jquery.easy-ticker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var language = "en_US";
            var contextPath = "";
            if (language == 'en_US') {
                $('#hiLocale').css("display", "");
                $('#enLocale').css("display", "none");
            } else if (language == 'hi_IN') {
                $('#hiLocale').css("display", "none");
                $('#enLocale').css("display", "");
            }

            $('#sfcnjgnz2xce5mhzlzuyrjrcaebj51s31zw > a').each(function () {
                $(this).replaceWith(function () {
                    return $("<span>" + $(this).html() + "</span>");
                });
            });
            $('#loginThrough1').click(function () {
                if ($('#loginThrough1').is(':checked')) {
                    $('#userNamePwdDiv').css("display", "");
                    $('#mobileNoDiv').css("display", "none");
                }
            });
            $('#loginThrough2').click(function () {
                if ($('#loginThrough2').is(':checked')) {
                    $('#userNamePwdDiv').css("display", "none");
                    $('#mobileNoDiv').css("display", "");
                }
            });
            $('#btn-login-applicant').click(function () {
                var language = $('#language').val();
                if ($('#loginThrough1').is(':checked')) {
                    if ($.trim($('#j_username').val()) == '' || $.trim($('#j_password').val()) == '') {
                        if (language == 'hi_IN') {
                            alert("कृपया यूज़र नेम और पासवर्ड दर्ज करें!");
                        } else {
                            alert("Please enter User Name and Password");
                        }
                    } else {
                        var hashObj = new jsSHA("SHA-256", "TEXT", "1");
                        hashObj.update($('#j_password').val());
                        $("#j_password").val(hashObj.getHash("HEX"));
                        $('#loginform').attr('action', contextPath + '/j_spring_security_check');
                    }
                } else {
                    if ($.trim($('#mobileNo').val()) == '') {
                        if (language == 'hi_IN') {
                            alert("कृपया मोबाइल नंबर दर्ज करें!");
                        } else {
                            alert("Please enter Mobile No.");
                        }
                    } else {
                        $('#loginform').attr('action', contextPath + '/website/login-through-mobile');
                    }

                }

            });
            $('#btn-login-department').click(function () {
                var language = $('#language').val();
                if ($('#loginThrough1').is(':checked')) {
                    if ($.trim($('#j_username').val()) == '' || $.trim($('#j_password').val()) == '') {
                        if (language == 'hi_IN') {
                            alert("कृपया यूज़र नेम और पासवर्ड दर्ज करें!");
                        } else {
                            alert("Please enter User Name and Password");
                        }
                    } else {
                        var hashObj = new jsSHA("SHA-256", "TEXT", "1");
                        hashObj.update($('#j_password').val());
                        $("#j_password").val(hashObj.getHash("HEX"));
                        $('#loginform').attr('action', contextPath + '/j_spring_security_check');
                    }
                } else {
                    if ($.trim($('#mobileNo').val()) == '') {
                        if (language == 'hi_IN') {
                            alert("कृपया मोबाइल नंबर दर्ज करें!");
                        } else {
                            alert("Please enter Mobile No.");
                        }
                    } else {
                        $('#loginform').attr('action', contextPath + '/website/login-through-mobile');
                    }
                }
            });
            var loginError = null;
            if (loginError == '2') {
                $('#userNamePwdDiv').css("display", "none");
                $('#mobileNoDiv').css("display", "");
                $('input:radio[name="loginThrough"][id="loginThrough1"][value="userName"]').prop('checked', false);
                $('input:radio[name="loginThrough"][id="loginThrough2"][value="mobileNo"]').prop('checked', true);
            } else if (loginError == '4') {
                $('input:radio[name="loginThrough"][id="loginThrough1"][value="userName"]').prop('checked', false);
                $('input:radio[name="loginThrough"][id="loginThrough2"][value="mobileNo"]').prop('checked', true);
                $('#userNamePwdDiv').css("display", "none");
                $('#mobileNoDiv').css("display", "");
                $('#userTabId').removeClass("active");
                $('#deptTabId').addClass("active");
                $('#tab1default').removeClass("active in");
                $('#tab2default').addClass("active in");
            }

            $('.number-only').keypress(function (e) {
                if (isNaN(this.value + "" + String.fromCharCode(e.charCode))) return false;
            })
                .on("cut copy paste", function (e) {
                    e.preventDefault();
                });
            $('#deptTabId').click(function () {
                $('#loginType').val('DEPARTMENT');
                $('#userLoginBtn1').css("display", "none");
                $('#userLoginBtn2').css("display", "none");
                $('#deptLoginBtn').css("display", "");
            });
            $('#userTabId').click(function () {
                $('#loginType').val('APPLICANT');
                $('#userLoginBtn1').css("display", "");
                $('#userLoginBtn2').css("display", "");
                $('#deptLoginBtn').css("display", "none");
            });
        });
    </script>
    <script src="/pages/website/js/login_js.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <script>
        function myFunction() {
            var language = $('#language').val();
            if (language == 'hi_IN') {
                alert("साइन अप जल्द ही उपलब्ध होगा!");
            } else {
                alert("Sign Up will be available soon!");
            }
        }
    </script>
</head>

<body>
    <div class="header-new-section">
        <div class="topbar">
            <div class="container">
                <!-- Topbar -->
                <nav class="navbar navbar-expand-lg navbar-light p-0" id="topnav">
                    <div class="container-fluid p-0">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topmenubar"
                            aria-controls="topmenubar" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="topmenubar">
                            <ul class="navbar-nav mr-auto flex-wrap">
                                <li class="nav-item font-selection px-1">
                                    <a href="javascript:chooseStyle('small', 60);" class="sm js-font-decrease"
                                        title="Decrease font size"><span>A</span>-</a>
                                    <a href="javascript:chooseStyle('none', 60);" class="md js-font-normal"
                                        title="Reset font size"><span>A</span></a>
                                    <a href="javascript:chooseStyle('bigger', 60);" class="lg js-font-increase"
                                        title="Increase font size"><span>A</span>+</a>
                                </li>
                                <li class="nav-item" id="styleOptions">
                                    <div class="theme">
                                        <a href="javascript: void(0)" class="palette theme-black"
                                            data-theme="theme2">A</a>
                                        <a href="javascript: void(0)" class="palette theme-regular"
                                            data-theme="theme1">A</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto flex-wrap">




                                <li class="nav-item">
                                    <a href="/website/screen-reader" class="nav-link"><span>Screen Reader</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#skip_main_content" class="nav-link"><span>Skip to Main Content</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#skip_navigation" class="nav-link"><span>Skip to Navigation</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="hiLocale" href="?language=hi_IN" class="nav-link">
                                        <span class="fa fa-globe"></span>
                                        हिन्दी </a>
                                </li>
                                <li class="nav-item"><a id="enLocale" href="?language=en_US" class="nav-link"><span
                                            class="fa fa-globe"></span> English</a></li>

                            </ul>
                            <form class="form-inline my-2 my-lg-0 position-relative" method="get"
                                action="/website/search">
                                <input id="searchparam" name="searchparam" type="text" class="form-control mr-sm-2"
                                    placeholder="Search ..." />
                                <input type="hidden" name="csrfPreventionSalt" value="P1U8GC1i4Q7TAxqtTIla" />
                                <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <a href="/advanceSearch/home#advanceSearchLanding"
                                class="a_search btn mb-2 mb-lg-0"><span>Advance Search</span></a>
                            <!--<a th:href="${contextPath + '/website/login'}"class="btn_login btn mb-2 mb-lg-0"><span th:text="#{website.login}">Login</span></a>-->

                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <a style="width:0px; height:0px;" id="skip_main_content" href="#"></a>
        <div class="middle-header py-2" style="border-bottom:solid 2px #1680b3;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="logo">
                            <a class="navbar-brand" href="/website/home"
                                title="Department of Micro, Small &amp; Medium Enterprises"> <img
                                    src="https://mpmsme.gov.in:8080/mpmsmecms\Uploaded Document/header/08082019122334mp_logo.png"
                                    alt="Department of Micro, Small &amp; Medium Enterprises" />
                                <div class="logo-title text-center text-sm-left">
                                    <h5>Government of Madhya Pradesh</h5>
                                    <h1>Department of Micro, Small &amp; Medium Enterprises</h1>
                                    <p>(Directorate of Industries, M.P.)</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="login-menu text-center text-sm-right">

                            <!--  <a class="login-pro" href="javascript:void(0);">-->
                            <img src="https://mpmsme.gov.in:8080/mpmsmecms\Uploaded Document/header/08082019122420MSME_logo.png" alt="Department of Micro, Small &amp; Medium Enterprises"
                                title="Department of Micro, Small &amp; Medium Enterprises" class="" />
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--   Header End -->



    <div class="container" style="margin-top:20px;">
        <h4 class="heading">Login</h4>
        <div class="inner-content">
            <div class="row">
                <div class="col-sm-12">
                    <!--Home div start-->
                    <div class="panel panel-default content_text">

                        <div class="panel-body content_text_body">
                            <!--login-->
                            <div class="side-bar">
                                <div class="login">
                                    <div class="row">

                                        <div class="with-nav-tabs"
                                            style="border:0;-webkit-box-shadow:none;margin:0 auto;">


                                            

                                            

                                            <div>
                                                <p class="text-danger" align="center" style="font-size:15px">Note: Only
                                                    single login per User Name is allowed at a time.<br />If you try to
                                                    login multiple, then only last logged in session will active.</p>
                                            </div>

                                            <div class="">
                                                <ul class="nav nav-tabs">
                                                    <li id="userTabId"><a class="active" href="#tab1default"
                                                            data-toggle="tab"><i class="fa fa-user log-img"></i><span>User</span></a></li>
                                                    <li id="deptTabId"><a href="#tab2default" data-toggle="tab"><i
                                                                class="fa fa-home log-img"></i><span>Department</span></a></li>

                                                </ul>
                                            </div>

                                            <div class="log-body" style="padding-bottom:0">
                                                <div class="tab-content log-main">

                                                    <form id="loginform" class="form-horizontal" role="form"
                                                        method="post">
                                                        <input type="hidden" name="csrfPreventionSalt"
                                                            value="P1U8GC1i4Q7TAxqtTIla" />
                                                        <div class="form-group" style="font-size: 12px;">
                                                            <label
                                                                style="float:left;font-weight: normal;font-weight: bold"><span>Login Through:</span></label>
                                                            <label
                                                                style="float:left;font-weight: normal;padding-left: 5px;cursor: pointer;"><input
                                                                    type="radio" id="loginThrough1" checked="checked"
                                                                    name="loginThrough" value="userName" /><span>User Name</span></label>
                                                            <!--<label style="float:left;font-weight: normal;padding-left: 5px;cursor: pointer;"><input type="radio" id="loginThrough2" name="loginThrough" value="mobileNo" /><span th:text="#{website.mobile}"> Mobile No.</span></label>-->
                                                        </div>
                                                        <div id="userNamePwdDiv">
                                                            <div class="form-group">
                                                                <input autocomplete="off" id="j_username" type="text"
                                                                    class="form-control" name="j_username" value=""
                                                                    placeholder="User Name" />
                                                            </div>

                                                            <div class="form-group">
                                                                <input autocomplete="off" id="j_password"
                                                                    type="password" class="form-control"
                                                                    name="j_password"
                                                                    placeholder="Password" />
                                                            </div>
                                                        </div>
                                                        <div id="mobileNoDiv" style="display: none">
                                                            <div class=" form-group">

                                                                <input id="mobileNo" type="text"
                                                                    class="form-control number-only" name="mobileNo"
                                                                    value=""
                                                                    placeholder="Mobile Number"
                                                                    maxlength="10" />
                                                            </div>
                                                        </div>

                                                        <div class="input-group form-group">

                                                            <input required="required" id="captchaText"
                                                                class="form-control" name="captchaText" maxlength="6"
                                                                placeholder="Captcha" />
                                                            <span class="input-group-btn">
                                                                <img id="captcha_id" name="imgCaptcha"
                                                                    src="/website/captcha" />
                                                                <a href="#"><img src="/image/refresh.ico"
                                                                        onclick="document.getElementById('captcha_id').src = 'captcha?' + Math.random(); return false" /></a>

                                                            </span>

                                                        </div>
                                                        <div class="row" style="margin: 0px auto; text-align:center;">
                                                            <div class="form-group col-md-6 login-button"
                                                                id="userLoginBtn1">
                                                                <!-- Button -->
                                                                <div class="controls log-button">
                                                                    <input id="btn-login-applicant" type="submit"
                                                                        class="btn btn-warning"
                                                                        style="background-color: rgb(255 139 57); color: #fff;"
                                                                        value="Login"></input>

                                                                </div>
                                                            </div>

                                                            <div class="form-group col-md-6 login-button"
                                                                id="userLoginBtn2">
                                                                <!-- Button -->
                                                                <div class="controls log-button">
                                                                    <input type="button"
                                                                        onclick="window.location=&#39;/website/viewsignup&#39;"
                                                                        class="btn btn-warning col-sm-12"
                                                                        style="background-color: rgb(255 139 57); color: #fff;"
                                                                        value="Sign Up"></input>
                                                                    <!--  <input type="button" onClick="myFunction()" class="btn btn-warning col-sm-12" th:value="#{website.signup}"></input>-->
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-sm-12 login-button"
                                                            style="display: none;" id="deptLoginBtn">
                                                            <!-- Button -->
                                                            <div class="controls log-button">
                                                                <input id="btn-login-department" type="submit"
                                                                    class="btn btn-warning col-sm-12"
                                                                    style="background-color: rgb(255 139 57); color: #fff;"
                                                                    value="Login"></input>

                                                            </div>
                                                        </div>


                                                        <input type="hidden" name="language" value="en_US"
                                                            id="language" />
                                                        <input type="hidden" name="loginType" value="APPLICANT"
                                                            id="loginType" />
                                                        <input type="hidden" name="csrfPreventionSalt"
                                                            value="P1U8GC1i4Q7TAxqtTIla" />

                                                        <div class="form-group col-sm-12"
                                                            style="border-top: 0px solid#888; font-size:80%">
                                                            <span>Forgot your Password ?</span>
                                                            <a href="#"
                                                                onClick="window.location = 'viewforgotpassword'">
                                                                <span>Click Here</span>
                                                            </a>
                                                        </div>
                                                        <div class="form-group col-sm-12"
                                                            style="border-top: 0px solid#888; font-size:80%">
                                                            <span>Forgot your User Name/Email Id ?</span>
                                                            <a href="#"
                                                                onClick="window.location = 'viewforgotusername'">
                                                                <span>Click Here</span>
                                                            </a>
                                                        </div>

                                                    </form>



                                                    <!--end login-->

                                                </div>
                                            </div><!--inner panle body-->
                                        </div><!--nav panel-->

                                    </div><!--row-->

                                </div> <!--panel body-->
                            </div> <!--panel default-->

                            <!--login end-->

                        </div> <!--panel body-->
                    </div> <!--panel default-->
                    <!--Home div end-->
                </div> <!--grid div-->





            </div><!--row-->

        </div> <!--jumborton-->

    </div> <!--container-->
    <!-- footer -->

    <div class="footer-section wow fadeIn" data-wow-duration="1s">

        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="footer-widget widget_links clearfix">

                        <ul class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                            
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 text-center text-xl-right">
                    <span>Working Hours : </span><span> 10:00 AM to 06:00 PM</span> &nbsp; <a
                        target="_blank" href="https://mpmsme.gov.in:8080/mpmsmecms" class="foot-login"><span>CMS</span></a>
                </div>
            </div>

        </div>
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left pt-2">
                        <span>Last Updated On</span>: <span></span>
                    </div>
                    <div class="col-lg-6">

                        <div class="soical_icon topmargin-sm clearfix text-center text-lg-right">
                            <a href="https://www.facebook.com/msmedeptmp"
                                class="social-icon si-small si-colored si-facebook" target="_blank">
                                <i class="mdi mdi-facebook"></i>
                                <i class="mdi mdi-facebook"></i>
                            </a>

                            <a href="javascript:void(0);" class="social-icon si-small si-colored si-linkedin">
                                <i class="mdi mdi-linkedin"></i>
                                <i class="mdi mdi-linkedin"></i>
                            </a>
                            <a href="javascript:void(0);" class="social-icon si-small si-colored si-pinterest">
                                <i class="mdi mdi-youtube"></i>
                                <i class="mdi mdi-youtube"></i>
                            </a>
                            <a href="https://twitter.com/minmpmsme" class="social-icon si-small si-colored si-twitter"
                                target="_blank">
                                <i class="mdi mdi-twitter"></i>
                                <i class="mdi mdi-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



        </div>


        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left">
                        Content Provided and Maintained by MPMSME
                        <!-- <a href="# " class="cms-login ">CMS Login</a> -->
                    </div>

                    <div class="col-lg-6 text-center text-lg-right">
                        Designed &amp; Developed by <a href="https://mapit.gov.in/?page=7vG6I3NGGec1YPQRwT3nWQ%3D%3D"
                            target="_blank">CoE_MAP_IT</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a href="javascript:void(0);" id="scroll" style="display: none;"><span></span></a>

    <script type="text/javascript " src="/pages/website/msme_new/app_assets/assets_js/popper.min.js"></script>
    <script type="text/javascript " src="/pages/website/msme_new/app_assets/assets_js/bootstrap.min.js"></script>
    <script type="text/javascript " src="/pages/website/msme_new/app_assets/assets_js/nivo-slider.js"></script>
    <script type="text/javascript " src="/pages/website/msme_new/app_assets/assets_js/owl.carousel.js"></script>
    <script src="/pages/website/msme_new/app_assets/assets_js/jquery.marquee.min.js"></script>
    <script type="text/javascript " src="/pages/website/msme_new/app_assets/assets_js/wow.min.js"></script>
    <script src="/pages/website/msme_new/app_assets/assets_js/newsbox.js"></script>
    <script src="/pages/website/msme_new/app_assets/assets_js/jquery.modern-ticker.min.js"></script>
    <script src="/pages/website/msme_new/app_assets/assets_js/swithcer.js"></script>
    <script src="/pages/website/msme_new/app_assets/assets_js/themeswitcher.js"></script>
    <script src="/pages/website/msme_new/app_assets/assets_js/main_script.js"></script>
    <script src="/pages/website/js/sha256.js"></script>
    <script>
        $(document).ready(function () {
            $("#slider").nivoSlider();
            $("#Play").hide();
            $("#Pause").click(function () {
                $("#Pause").fadeOut(200);
                $("#Play").fadeIn(200);
                $("#slider").data("nivoslider").stop();
            });
            $("#Play").click(function () {
                $("#Play").fadeOut(200);
                $("#Pause").fadeIn(200);
                $("#slider").data("nivoslider").start();
            });
            $('#styleOptions').styleSwitcher({
                hasPreview: false,
                fullPath: '../pages/website/msme_new/app_assets/assets_css/'
            });
        });

    </script>

</body>

</html>
